@use "shared/colors.scss" as colors;

.container {
  width: 100%;
  max-width: 1208px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.header {
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  color: colors.$main_surface;
}

.link_container {
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.1s linear;
  & img {
    width: 24px;
    height: 24px;
    margin-top: 1px;
  }

  & p {
    font-size: 16px;
    line-height: 24px;
    margin-right: 4px;
    color: colors.$gray_hardest;
  }
  &:hover {
    opacity: 1;
  }
}


@media (max-width: 1280px) {
  .container{
    padding:  0 48px;
  }
}

@media (max-width: 768px) {
  .header{
    font-size: 24px;
    line-height: 24px;
  }
  .link_container{
    justify-content: flex-end;
    & p {
      font-size: 12px;
      line-height: 18px;
    }
    & i {
      font-size: 16px;
    }
  }
}

@media (max-width: 400px) {
  .container{
    padding: 0 24px;
    justify-content: space-between;
    & div {
      flex-basis: 50%;
    }
  }
}
@media (max-width: 300px) {
  .container{
    padding: 0 16px;
    & div {
      flex-basis: 50%;
    }
  }
  .header{
    font-size: 18px;
    line-height: 24px;
  }
  .link_container{
    justify-content: flex-end;
    & p {
      font-size: 12px;
      line-height: 16px;
    }
    & i {
      font-size: 14px;
    }
  }
}