@use 'shared/colors.scss' as colors;

.container {
    width: 100%;
    max-width: 376px;
    margin: 0 40px;
}

.prices{
    display: flex;
    margin-bottom: 16px;
    align-items: center;
    justify-content: space-between;
    & p {
        margin: 0;
    }
}

.label__container{
    display: flex;
    align-items: center;
    & i {
        font-size: 21px;
        margin-left: 8px;
    }
}

.regular {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    color: colors.$gray_hardest;
}

.card {
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
    color: colors.$main_surface;
}

.label{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: colors.$gray_light;
    margin-top: 6px;
}

.bonus{
    display: flex;
    align-items: center;
    justify-content: center;
    color: colors.$secondary;
    margin-top: 3px;

    & i {
        margin-right: 8px;
    }

    & p {
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
    }

    & span {
        font-weight: 700;
    }
}

.notify{
    display: flex;
    align-items: center;
    justify-content: center;
    color: colors.$gray_hardest;

    & i {
        margin-right: 8px;
    }
    & p {
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
    }
}

.details{
    width: 100%;

    & > div {
        width: 100%;
        display: flex;
        padding: 4px 8px;
        align-items: center;
        text-align: left;
        background-color: colors.$gray_lightest;
    }

    & > div:nth-child(2n){
        background-color: transparent;
    }

    & p {
        flex-basis: 50%;
        font-size: 12px;
        margin: 0;
        line-height: 18px;
        color: colors.$main_surface;

    }

    & p:first-child{
       font-weight: 400;
    }
    & p:last-child{
       font-weight: 700;
    }
}


@media (max-width: 768px) {
    .container{
        margin: 3vh 0;
    }
}