.container {
    position: relative;
    width: 100%;
    max-width: 224px;
    max-height: 140px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 1px 2px 4px rgba(112, 192, 91, 0.2);

    & img {
        width: 100%;
        max-height: 140px;
        height: 100%;
        display: block;
        object-fit: cover;
        border-radius: 4px;

    }

    & p {
        position: absolute;
        font-size: 18px;
        line-height: 27px;
        font-weight: 700;
        color: #FFF;
        margin: 0;
        bottom: 10px;
        left: 10px;
    }
}

.secondary {
    position: relative;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        z-index: 0;
        content: '';
        background: linear-gradient(180deg, rgba(112, 192, 91, 0) 0%, #70C05B 82.81%);
    }
}

.primary {
    position: relative;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        content: '';
        background: linear-gradient(180deg, rgba(255, 102, 51, 0) 0%, #FF6633 100%);
    }
}

.wide {
    max-width: unset;
    max-height: 140px;
    grid-column: span 2;
}


@media (max-width: 1024px) {
    .wide {
        grid-column: span 2;
    }
}

@media (max-width: 480px) {
    .container{
        max-width: unset;
        height: 140px;
        & img {
            object-fit: cover;
        }
    }
    .wide {
        width: 100%;
        max-width: unset;        
        max-height: 140px;
        height: 140px;

        & img {
            object-fit: cover;
        }
    }
}
