@use 'shared/styles.scss' as styles;
@use 'shared/colors.scss' as colors;

.button {
    width: 32px;
    height: 32px;
    opacity: 0.5;
    border-radius: 4px;
    box-sizing: border-box;
    transition: 0.1s ease opacity;
    cursor: pointer;
    outline: none;
    border: none;
    @include styles.flexbox-center(row);
    &:hover{
        opacity: 0.7;
    }
    &:active{
        opacity: 0.3;
    }
};

.active {
    opacity: 1;
}