@use './shared/styles.scss' as styles;

.wrapper {
    @include styles.width-height-100;
    max-height: 72px;
    height: 72px;
    position: fixed;
    top:0;
    z-index: 999;
}

.container {
    @include styles.flexbox-center(row);
    @include styles.position-absolute;
    position: absolute;
    width: 100%;
    padding: 0 116px;
    height: 70px;
    box-sizing: border-box;
    background-color: #FFF;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    margin-right: 40px;
    height: 100%;
    max-height: 32px;
    transition: 0.1s all ease-in-out;
    cursor: pointer;

    & img {
        height: 100%;
        display: block;
    }

    &:active {
        transform: scale(0.990);
    }
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 1280px) {
    .container{
        padding: 0 18px;
    }
}

@media (max-width: 1024px){
    .logo{
        margin-right: 20px;

    }
}