@use 'shared/colors.scss' as colors;

.container {
    display: flex;
    max-width: 584px;
    width: 100%;
}

.preview {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 16px;


    &>div {
        width: 100%;
        max-width: 64px;
        height: 87px;
        display: flex;
        align-items: center;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
        background-color: #FFF;
        border-radius: 4px;
        box-sizing: border-box;
        cursor: pointer;


    }

    & img {
        width: 100%;
        display: block;
    }

    & .active {
        border: 1px colors.$main solid;
    }
}

.photo {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 504px;
    max-height: 496px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #FFF;
    border-radius: 4px;
    display: flex;
    align-items: center;

    & img {
        width: 100%;
        display: block;
    }
}

@media (max-width: 768px) {
    .container{
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
    .preview{
        width: 100%;
        justify-content: space-evenly;
        flex-direction: row;
        margin-bottom: 3vh;
    }
}