@use 'shared/colors.scss' as colors;
@use 'shared/styles.scss' as styles;

.wrapper {
    @include styles.width-height-100;
    position: relative;
    max-width: 374px;
    max-height: 40px;
    margin-left: 16px;
    margin-right: 40px;
}

.container {
    @include styles.position-absolute;
    width: 100%;
    border-radius: 4px;
    background-color: #FFF;
    border: 1px solid colors.$gray_light;
    transition: 0.2s all linear;

    &:focus-within {
        border: 1px solid colors.$secondary;
    }
}

.active {
    box-shadow: 4px 8px 16px rgba(112, 192, 91, 0.2);
}

.input {

    @include styles.flexbox-center(row);
    width: 100%;
    padding: 8px;
    box-sizing: border-box;

    & img {
        cursor: pointer;
    }

    & input {
        width: 100%;
        border: none;
    }

    & input:focus {
        outline: none;
    }

    & input::placeholder {
        font-size: 16px;
        line-height: 24px;
        color: colors.$gray_hard;
    }
}

.suggestions {
    & p {
        color: black;
        margin-left: 10px;
        cursor: pointer;
        transition: 0.1s all linear;
    }
    & p:hover{
        color: colors.$main;
    }
    & p:active{
        opacity: 0.7;
    }
}

@media (max-width: 1024px) {
    .wrapper{
        max-width: 324px;
        margin-right: 20px;
    }
}