$bg: #FBF8EC;

$main: #FF6633;
$main_light: #FCD5BA;
$main_surface: #414141;

$secondary: #70C05B;
$secondary_light: #E5FFDE;

$error: #D80000;
$error_light: #FFC7C7;

$gray_hard: #8F8F8F;
$gray_light: #BFBFBF;
$gray_hardest: #606060;
$gray_lightest: #F3F2F1;
