
@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/Rubik-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/Rubik-Medium.ttf') format('truetype');
    font-weight:500;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/Rubik-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/Rubik-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'icomoon';
    src:  url('../assets/fonts/icons/icomoon.eot');
    src:  url('../assets/fonts/icons/icomoon.eot') format('embedded-opentype'),
      url('../assets/fonts/icons/icomoon.ttf') format('truetype'),
      url('../assets/fonts/icons/icomoon.woff') format('woff'),
      url('../assets/fonts/icons/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }