@use './colors.scss' as colors;
body {
  background-color: colors.$bg;
}

@mixin flexbox-center($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin position-absolute {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin width-height-100 {
  width: 100%;
  height: 100%;
}
