@use 'shared/colors.scss' as colors;

.points {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 24px;

    & div {
        margin: 0 12px;
        font-size: 12px;
        line-height: 18px;
        padding: 8px 12px;
        border-radius: 4px;
        cursor: pointer;
        box-sizing: border-box;
    }

    & div:first-child {
        margin-left: 0;
    }
}

.point__inactive {
    background-color: colors.$gray_lightest ;
    color: colors.$gray_hardest;
}

.point__active {
    background-color: colors.$secondary ;
    color: #FFF;
}

.map__inner {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    overflow: auto;
}

@media (max-width: 1280px) {
    .points{
        width: 100%;
        justify-content: center;
    }
}


@media (max-width: 640px) {
    .points{
       flex-wrap: wrap;
       justify-content: center;

       & div {
        margin: 8px 0 ;
       }
       & div:nth-child(2n) {
        margin-left: 10px;
        margin-right: 10px;
       }
    }
}