@use 'shared/colors.scss' as colors;

.label {
    width: 100%;
    max-width: 56px;
    height: 32px;
    padding: 4px 8px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: colors.$main ;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Rubik';
    text-align: center;
    color: #FFF;
}

@media (max-width: 400px ) {
    .label{
       font-size: 14px; 
       line-height: 18px;
       max-width: 48px;
       height: 24px;
    }
    
}