@use 'shared/colors.scss' as colors;

.container{
    width: 100%;
    max-width: 272px;
    box-sizing: border-box;
    background-color: #FFF;
    padding: 0 8px 8px 8px;
    border-radius: 4px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.1s linear;
    & p {
        margin:0;
    }
    &:hover{
        box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
        transform: scale(1.01);
    }

}

.photo{
    position: relative;
    & img{
        object-fit: contain;
        width: 100%;
    }
}

.prices{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0 4px;

    & div:first-child{
        text-align: left;
    }
    & div:last-child {
        text-align: right;
    }
}

.price_card{
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    color: colors.$main_surface
}
.label{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: colors.$gray_light;
}
.price_regular{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: colors.$gray_hardest;
}
.description{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: colors.$main_surface;
}

.rating{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 8px 0 10px;
}


@media (max-width: 640px) {
    .container{
        max-width: 250px;
    }
}
@media (max-width: 550px) {
    .container{
        max-width: 200px;
    }
}
@media (max-width: 450px) {
    .container{
        max-width: 180px;
    }
}
@media (max-width: 400px) {
    .container{
        max-width: 150px;
    }
}
@media (max-width: 330px) {
    .container{
        max-width: 250px;
    }
}

