@use "shared/colors.scss" as colors;

.container {
  max-width: 376px;
  max-height: 420;
  box-sizing: border-box;
  text-align: left;
  color: colors.$main_surface;
  transition: 0.3s ease-in-out all;
  & h5 {
    margin: 5px 0;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
  }

  & p {
    margin: 5px 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  &:hover{
    transform: scale(1.01);
  }
}

.img {
  & img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
    display: block;
  }
}

.content {
  padding: 10px 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #fff;
  & p:first-of-type {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin-top: 0;
    color: colors.$gray_hard;
  }
}

.button {
  width: 100%;
  max-width: 150px;
  max-height: 40px;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  border: none;
  border-radius: 4px;
  outline: none;
  color: colors.$secondary;
  cursor: pointer;
  background-color: colors.$secondary_light;
  transition: 0.2s linear all;

  &:hover {
    background-color: colors.$secondary;
    color: #fff;
  }
  &:active {
    opacity: 0.5;
    transform: scale(0.995);
  }
}
